<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
  <div id="disclaimer">
    Not a Tribune Web Site.  Don't Page!
  (312) 867-5309
  </div>
</footer>